<div class="h-screen justify-center items-center bg-orange backdrop-blur-lg">
  <app-custom-page-layout>
    <div class="flex h-full w-full justify-center items-center">
      <div class="flex flex-col w-full">
        <div
          class="flex text-blue text-left text-5xl font-pacifico h-10 justify-center items-center rounded-2xl mt-40 px-48"
        >
          The best app to turn your groceries into 5-stars meals!
        </div>
        <div class="flex flex-col items-center justify-center mt-40 h-auto">
          <button
            class="flex justify-center items-center py-6 px-52 text-blue text-xl font-pacifico bg-blue bg-opacity-25 backdrop-blur-lg h-2 rounded-full hover:bg-opacity-80 hover:text-white mt-8"
            (click)="onLogin()"
          >
            Sign In
          </button>
          <div
            class="h-2 mt-8 text-blue text-lg font-shrikland cursor-pointer hover:text-white"
            (click)="onSignUp()"
          >
            Create account
          </div>
        </div>
      </div>
    </div>
  </app-custom-page-layout>
</div>
