<app-custom-page-layout>
  <div class="flex flex-col justify-center items-center h-2 mt-28">
    <span class="text-blue justify-center font-pacifico text-5xl">
      Create an account
    </span>
    <span
      class="text-blue text-opacity-80 justify-center font-pacifico text-3xl mt-4 pb-16"
    >
      Start your journey by creating an account.
    </span>
  </div>
  <div class="flex flex-col justify-center items-center">
    <form
      [formGroup]="signupForm"
      class="flex flex-col items-center justify-center h-10 -mt-5"
    >
      <div
        class="flex items-center border-2 border-blue py-2 px-3 rounded-2xl h-14 bg-white w-full"
      >
        <img src="assets/images/8utilisateur.svg" class="h-5 w-5" alt="" />
        <input
          class="px-2 outline-none border-none w-full h-11"
          type="text"
          formControlName="name"
          placeholder="Name"
        />
      </div>
      <div
        class="flex items-center border-2 border-blue py-2 px-3 rounded-2xl h-14 bg-white w-full mt-8"
      >
        <img src="assets/images/8email.png" class="h-5 w-5" alt="" />
        <input
          class="px-2 outline-none border-none w-full h-11"
          type="text"
          formControlName="email"
          placeholder="Email"
        />
      </div>
      <div
        class="flex items-center border-2 border-blue py-2 px-3 rounded-2xl h-14 bg-white mt-8 w-full"
      >
        <img src="assets/images/8cadena.png" class="h-5 w-5" alt="" />
        <input
          class="px-2 outline-none border-none w-full h-11"
          type="text"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <div
        class="flex items-center border-2 border-blue py-2 px-3 rounded-2xl h-14 bg-white mt-8 w-full"
      >
        <img src="assets/images/8cadena.png" class="h-5 w-5" alt="" />
        <input
          class="px-2 outline-none border-none w-full h-11"
          type="text"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
      </div>
      <div class="flex flex-col items-center justify-center h-auto">
        <button
          class="flex justify-center items-center py-6 px-36 text-blue text-xl font-pacifico bg-blue bg-opacity-25 backdrop-blur-lg h-2 rounded-full hover:bg-opacity-80 hover:text-white mt-8"
          (click)="onSignUp()"
        >
          Sign Up
        </button>
        <div
          class="h-2 mt-8 text-blue text-sm font-poppins"
          (click)="onLogin()"
        >
          Have an account already?
          <span
            class="text-blue text-sm font-poppins cursor-pointer hover:text-white"
          >
            Click here
          </span>
        </div>
      </div>
    </form>
  </div>
</app-custom-page-layout>
