<app-custom-page-layout>
  <div class="flex justify-between h-auto">
    <div
      class="w-12 h-10 text-blue text-3xl font-pacifico justify-start items-center py-2 mt-2 ml-6 rounded-2xl"
    >
      ChefRec
    </div>
    <div class="text-blue text-4xl h-2 relative mt-14 font-pacifico">
      Welcome back Henry
    </div>
    <div
      class="text-blue text-sm font-poppins font-light underline py-4 px-4 mt-2 h-2"
    >
      settings icon
    </div>
  </div>
  <div
    class="flex text-blue justify-center items-center h-auto font-pacifico text-base mt-20"
  >
    Here comes a text for the subtitle
  </div>
  <div class="flex justify-center items-center px-10 gap-5 mt-20">
    <div
      class="flex flex-col justify-center items-center w-64 h-72 bg-blue text-white hover:shadow-2xl hover:bg-white hover:text-blue hover:border-solid hover:border-2 hover:border-blue cursor-pointer rounded-2xl"
      (click)="onGrocery()"
    >
      <div class="text-xl font-poppins h-auto text-center">Grocery-List</div>
      <div class="text-base font-poppins h-auto mt-5 px-5 text-center">
        Create your grocery list(s).
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center w-64 h-72 bg-blue text-white hover:shadow-2xl hover:bg-white hover:text-blue hover:border-solid hover:border-2 hover:border-blue cursor-pointer rounded-2xl"
      (click)="onRecipe()"
    >
      <div class="text-xl font-poppins h-auto text-center">Recipe box</div>
      <div class="text-base font-poppins h-auto mt-5 px-5 text-center">
        Save your favorite recipe.
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center w-64 h-72 bg-blue text-white hover:shadow-2xl hover:bg-white hover:text-blue hover:border-solid hover:border-2 hover:border-blue cursor-pointer rounded-2xl"
      (click)="onMealPlan()"
    >
      <div class="text-xl font-poppins h-auto text-center">Meal Planner</div>
      <div class="text-base font-poppins h-auto mt-5 px-5 text-center">
        Create your weekly meal plan.
      </div>
    </div>
  </div>
</app-custom-page-layout>
